@media (max-width: 1570px) {
.left-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.block_of_fun {
    margin: 0 20px;
}
}
@media (max-width: 1240px) {
.multi_language_block {
    display: flex;
    flex-wrap: wrap;
}
.multi_project_block {
    display: flex;
    flex-wrap: wrap;
}
.real_success {
    display: flex;
    flex-wrap: wrap;
}
.left-bottom {
    display: flex;
    flex-wrap: wrap;
}
.left-top {
    display: flex;
    justify-content: flex-start;
}
.for_boot_links {
    display: flex;
    flex-wrap: wrap;
}
.link_other {
    margin-left: 0;
    margin-top: 10px;
}
.link_first {
    margin-top: 10px;
}
.weather {
    padding-right: 0;
    width:60%;
}
}
@media (max-width: 993px) {
.sides {
    display: flex;
    flex-direction: column;
}
.left,
.right {
    width: 100%;
}
}
@media (max-width: 768px) {
.avatar_plus_hello {
    display: flex;
    flex-direction: column;
}
.font_to_manage {
    font-size: 18px;
}
.font_to_manage25 {
    font-size: 25px;
}
.avatar {
    display: none;
}
}